body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 70px;
}

.bg-image {
    background-image: url(images/donation6.jpg);
    background-size: 100%;
}

.bg-image {
    text-align: center;
    text-size-adjust: 40px;
    padding: 5%;
    color: white;
}

.donate-button {
    text-decoration: dotted;
    background-color: orangered;
    padding: 5px;
    color: azure;
}

.donate-today {
    text-align: center;
    font-size: large;
}

.amount {
    text-align: center;
    margin: 30px;
}

.amount-quantity {
    font-size: 25px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    color: black;
    text-decoration: none;
    background-color: beige;
}

.amount-quantity-red {
    font-size: 25px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    color: black;
    text-decoration: none;
    background-color: beige;
    border: rgb(168, 69, 45) solid 3px;
}

.other-amount {
    color: darkgray;
    padding-left: 10px;

}

#hr-tag {
    width: 50%;
}

.our-donate-plan {
    text-align: center;
}

.donate-for-all {
    width: auto;
    display: flex;
    margin: 5%;
}

.food-for-family {
    width: 25%;
    background-color: rgba(127, 255, 212, 0.322);
    text-align: left;
    padding: 5px;
    margin-left: 3%;
    margin-right: 3%;
}

.shelter-for-family {
    width: 25%;
    background-color: rgba(190, 133, 183, 0.342);
    text-align: left;
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

.education-for-family {
    width: 25%;
    background-color: rgba(194, 164, 108, 0.5);
    text-align: left;
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

.get-update {
    text-align: center;

}

.email-box {
    padding: 20px;
    text-align: center;
    background-color: antiquewhite;
    width: 40%;
    margin-right: 20%;
    margin-left: 30%;
    border-radius: 5px;
    text-decoration: none;
}

#email-button {
    text-align: center;
    text-decoration: none;
    background-color: rgba(143, 57, 25, 0.973);
    border: 5px;
    color: white;
    margin-left: -5px;
    padding-left: 15px;
    padding-right: 15px;
}

#footer {
    text-align: center;
    background-color: black;
    margin-top: 10px;
    width: 100%;
}

#be-humble {
    color: red;
    text-align: center;
    padding-top: 50px;

}

#do-it {
    color: white;



}